<div>
    <h2 id="page-heading">
        <span>Subjects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subject" [routerLink]="['/subject/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="subjects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wording"><span>Wording</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="abreviation"><span>Abreviation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span>Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="evaluationId"><span>Evaluation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let subject of subjects ;trackBy: trackId">
                <td><a [routerLink]="['/subject', subject.id, 'view' ]">{{subject.id}}</a></td>
                <td>{{subject.wording}}</td>
                <td>{{subject.abreviation}}</td>
                <td>{{subject.active}}</td>
                <td>
                    <div *ngIf="subject.evaluationId">
                        <a [routerLink]="['../evaluation', subject.evaluationId , 'view' ]" >{{subject.evaluationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/subject', subject.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subject', subject.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
