<div>
    <h2 id="page-heading">
        <span>Skills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill" [routerLink]="['/skill/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Skill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="skills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wording"><span>Wording</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level1"><span>Level 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level2"><span>Level 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level3"><span>Level 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level4"><span>Level 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span>Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="areaWording"><span>Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let skill of skills ;trackBy: trackId">
                <td><a [routerLink]="['/skill', skill.id, 'view' ]">{{skill.id}}</a></td>
                <td>{{skill.wording}}</td>
                <td>{{skill.level1}}</td>
                <td>{{skill.level2}}</td>
                <td>{{skill.level3}}</td>
                <td>{{skill.level4}}</td>
                <td>{{skill.active}}</td>
                <td>
                    <div *ngIf="skill.areaId">
                        <a [routerLink]="['../area', skill.areaId , 'view' ]" >{{skill.areaWording}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/skill', skill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill', skill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skill/'+ skill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
