<div>
    <h2 id="page-heading">
        <span>Areas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-area" [routerLink]="['/area/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Area
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="areas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Number</span></th>
            <th><span>Wording</span></th>
            <th><span>Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let area of areas ;trackBy: trackId">
                <td><a [routerLink]="['/area', area.id, 'view' ]">{{area.id}}</a></td>
                <td>{{area.number}}</td>
                <td>{{area.wording}}</td>
                <td>{{area.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/area', area.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/area', area.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'area/'+ area.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
